[submodule "ms-activity-service"]
	path = ms-activity-service
	url = https://github.com/chittivenkat143/ms-activity-service.git
[submodule "employee-services"]
	path = employee-services
	url = https://github.com/chittivenkat143/employee-services.git
[submodule "gateway-service"]
	path = gateway-service
	url = https://github.com/chittivenkat143/gateway-service.git
[submodule "bank-services"]
	path = bank-services
	url = https://github.com/chittivenkat143/bank-services.git
[submodule "auth-service"]
	path = auth-service
	url = https://github.com/chittivenkat143/auth-service.git
[submodule "hcl-eureka-services"]
	path = hcl-eureka-services
	url = https://github.com/chittivenkat143/hcl-eureka-services.git
